<div class="mContainer">
    <h2> <%= @election.name %> </h2>

    <div id="candidates-box">
      <% @election.candidates_sorted_by_delegate_count.each do |c| %>
         <div class="candidate-box" data-id="<%= c.id %>">
            <div class="color-key">&nbsp;</div> 
            <span> <%= c.first_name %> <%= c.last_name %> - <%= c.delegate_count %></span>
         </div>
      <% end %>
    </div>
    
    <div class="lg-map-wrapper">
        <div id="lg-map"></div>
        <div class="lg-map-text"></div>
    </div>
    <% @election.candidates_sorted_by_delegate_count.each do |c| %>
        <p>
            
        </p>
        <% end %>
            <table>
                <tr>
                    <th> State </th>
                    <th> Total # Delegates </th>
                    <% @election.candidates.each do |c| %>
                        <th>
                            <%= c.full_name %>
                        </th>
                        <% end %>
                </tr>
                <% @election.contests.each do |contest| %>
                    <tr>
                        <th>
                            <%= contest.state.name %>
                        </th>
                        <th>
                            <%= contest.number_delegates %>
                        </th>
                        <% @election.candidates.each do |c| %>
                            <th>
                                <%= contest.results.pledged.by_candidate(c.id).total_delegate_count %>
                            </th>
                            <% end %>
                    </tr>
                    <% end %>
            </table>
</div>
<script>
</script>
